@import "./_variables.scss";

.fallback {
	border-radius: 20px;
	padding: 2rem;
	@include sizing(100%, 100%);
	@include background(cover, no-repeat, center, #4d4d4d, url(@/assets/img/fallback.png));
}

body{
	scrollbar-color: #000000 #e0e0e0;
	scrollbar-width: thin;
}