@mixin card {
	padding: 0;
  height: 450px;
  transition: all 2s ease-in-out;
	div.front-card {
		height: 100%;
	}
	div.back-card {
		word-break: break-all;
		height: 100%;
		padding: 0.8rem;
		overflow: hidden;
		text-overflow: ellipsis;
		svg {
			height: 25px;
		}
		h6{
			font-size: 0.95rem;
		}
		p {
			font-size: 0.85rem;
		}
	}
}

@mixin sizing($width, $height) {
	width: $width;
	height: $height;
}

@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin position($position, $top, $right, $bottom, $left, $zIndex) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	z-index: $zIndex;
}

$darkgrey: #1B1B1B;
$brandColor: #E20712;